:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-font: #213547;
  --color-bg: #ffffff;
  --color-bg-main: #EFF0F5;
  --color-bg-input: #f0f0f0;
  --color-success: #198754;
  --color-error: #cc0000;
  --color-link-hover: #747bff;
  --color-btn-bg: #f9f9f9;

  --color-shadow: rgba(35, 35, 35, 0.4);

  color-scheme: light dark;
  color: var(--color-font);
  background-color: var(--color-bg-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: inherit;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: var(--color-link-hover);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-btn-bg);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--color-link-hover);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-font: rgba(255, 255, 255, 0.87);
    --color-bg: #242424;
    --color-bg-main: #151515;
    --color-bg-input: #505050;
    --color-link: #646cff;
    --color-link-hover: #535bf2;
    --color-btn-bg: #1a1a1a;
    --color-shadow: rgba(175, 175, 175, 0.3);
  }
}
